%h1 GIF-a-Tweet

.form
  .formy
    = form_tag home_index_url , method: :get do
      = text_field_tag :user, nil, :placeholder =>"twitter handle"
      %br
      = submit_tag "GIF My Tweet", :class => "submit"

.results
  -if @user
    %p.user= "@#{@user}"
    %h2=@tweet.text
    =@tweet_keywords
    %br
    =@keywords
    -if !@gif_url
      %p Your tweet wasn't gif-worthy. Try again.
    -else
      = image_tag @gif_url
