<%= form_tag home_index_url , method: :get do %>
  <%= text_field_tag :user %>
  <%= submit_tag value = "GIF My Tweet" %>
<% end %>

<h1>GIFATweet</h1>
<% if @user %>
  <%=@user%><br>
  <% if !@gif_url %>
    <p> Your tweet wasn't gif-worthy. Try again. </p>
  <% else %> 
    <%= image_tag @gif_url %>
  <% end %>
<% end %>
  <h2><%=@tweet.text%></h2>
  <%=@tweet_keywords%>
  <br>
  <%=@keywords%>
  <br>
  